<h3>About Us</h3>
<div class="card" style="width: 20rem;">
  <img src="https://i.etsystatic.com/8929609/r/il/2e8360/920553216/il_1588xN.920553216_h4i1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Refugio de Mascotas</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum, obcaecati animi! Illo, quia a! Molestias ad fugiat iste, magnam culpa at quam voluptates eius dolore aut nulla nam reprehenderit dignissimos!</p>
    <a  (click)="blog()" class="btn btn-primary">Donde Estamos</a>
    <router-outlet></router-outlet>
  </div>
</div>
<!-- [routerLink]="['/about/blog']" otra forma de rutas children-->
