<h2>Perros Buscando Hogar</h2>
<hr>

<div class="row">
<div class="col">
<table class="table table-hover">
  <thead>
   <tr>
     <th>#</th>
     <th>Nombre</th>
     <th>Edad</th>
     <th>Descripción</th>
     <th></th>
   </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dog of dogs">
      <td>{{dog.id}}</td>
      <td>{{dog.name}}</td>
      <td>{{dog.age}}</td>
      <td>{{dog.description}}</td>
      <td>
        <a href="#">Ver...</a>
      </td>
    </tr>
  </tbody>
</table>
</div>
</div>

