<h2>Perros Buscando Hogar</h2>
<hr>

<div class="row">
<div class="col">
<table class="table table-hover">
  <thead>
   <tr>
     <th>#</th>
     <th>Nombre</th>
     <th>Edad</th>
     <th>Descripción</th>
     <th></th>
   </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Tobby</td>
      <td>6 meses</td>
      <td>Tobby es muy cariñoso, obediente y es un mestizo de labrador con Border Collie</td>
      <td>
        <a href="#">Ver...</a>
      </td>
    </tr>
  </tbody>
</table>
</div>
</div>

